                                     
                                     /* Base */
                                     
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button{
	border: none;
	background: none;
	cursor: pointer;
}

a{
	text-decoration: none;
}