
                               /* login & join CSS */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

button{
	border: none;
	background: none;
	cursor: pointer;
}

a{
	text-decoration: none;
}

// сторінка входу & реєстрації
.wrapper-login{
	width: 300px;

	nav{
		display: flex;
		width: 100%;
		height: 50px;
		
		a{
			display: block;
			width: 50%;
			height: 50px;
			padding-top: 7px;
			border-top-left-radius: 7px;
			outline: none;
			background-color: #3B3E99;
			font-size: 22px;
			color: #fff;
			text-align: center;
			cursor: pointer;
		}

		.register{
			border: 2px solid #fff;
			border-top-left-radius: 0;
			border-top-right-radius: 7px;
			background-color: #4B4EA4;
		}
	}

	form{
		padding: 15px 20px 25px 20px;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		background-color: #3B3E99;

		h2{
			padding-bottom: 5px;
			color: #fff;
			text-align: center;
		}

		input,
		button{
			width: 100%;
			height: 40px;
			margin-top: 20px;
			border: none;
			border-radius: 6px;
		}

		input{
			padding-left: 12px;
			font-size: 15px;
		}

		button{
			margin-top: 25px;
			background-color: #BCBCE1;
			font-size: 20px;
			color: #fff;
			cursor: pointer;
		}
	}
}

// сторінка реєстрації
.wrapper-register{

	nav{
		a{	
			border-top-left-radius: 0;
			border-top-right-radius: 7px;
		}

		.login{
			border: 2px solid #fff;
			border-top-left-radius: 7px;
			border-top-right-radius: 0;
			background-color: #4B4EA4;
		}
	} 
}