	                                   
	                                   /* Footer */
	                                   
/* section-right footer */
footer{

	.post-new{
		position: relative;
		width: 75%;
	}

	// поле пошуку
	textarea{
		.size-box(90%, 70px);
		border: none;
		border-radius: 25px 0 0 25px;
		padding: 5px 25px 5px 25px;
		background-color: @color-bg-input;
		font-size: 16px;
		font-family: arial;
		color: @color-text-input;
	}

	// вставлення смайликів
	label[for=footer_label]{
		position: absolute;
		right: 0; 
		.size-box(20%, 70px);
		max-width: 65px;
		padding-top: 22.5px;
		border-radius: 0 25px 25px 0;
		background-color: @color-bg-input;
	}		 	
}