	                                     
	                                     /* Header */  
	                                                         
/* section-left header */
header{

	form{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	// поле з інпутом і кнопкою пошуку користувачів
	.search{
		display: flex;

		> *{
			background-color: @color-bg-input;
		}
	}

	// поле для пошуку користувачів
	input[type=text]{
		.size-box(125px, 35px);
		padding-left: 10px;
		border: none;
		border-radius: 15px 0 0 15px;
		color: @color-text-input;
	}

	// пошук користувачів
	label[for=btn-search]{
		.size-box(40px, 35px);
		padding-top: 5px;
		padding-left: 9px;
		border-radius: 0 15px 15px 0;
		cursor: pointer;

		i{
			.set-font(22px, #fff);
		}		
	}
}
